In [16]:
!pip install pymysql

Requirement already satisfied: pymysql in ./opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [17]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in ./opt/anaconda3/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: prettytable<1 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: jedi>=0.16 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: appnope in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pexpect>4.3 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in ./opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in ./opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in ./opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in ./opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### user name and pw!!

In [19]:
db_user = "root"
db_password = "dbuserbdbuser"

In [20]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:dbuserbdbuser@localhost'

In [21]:
%sql $connection_string

In [22]:
import pymysql

In [23]:
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [24]:
conn

## Movies Database

In [70]:
%sql create database if not exists actor_databases

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [71]:
%sql use actor_databases

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [72]:
%sql drop table if exists actor_table

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [73]:
%%sql
create table actor_table
(
    first_name     varchar(128) not null,
    middle_name    varchar(128) not null,
    last_name      varchar(128) not null,
    gender         varchar(128) not null,
    movie          varchar(128) not null,
    birth_year           year   not null,
    birth_month          int    not null,
    birth_day            int    not null,
    guid           varchar(256) not NULL primary key
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [74]:
sql describe actor_table

 * mysql+pymysql://root:***@localhost
9 rows affected.

[('first_name', 'varchar(128)', 'NO', '', None, ''),
 ('middle_name', 'varchar(128)', 'NO', '', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('gender', 'varchar(128)', 'NO', '', None, ''),
 ('movie', 'varchar(128)', 'NO', '', None, ''),
 ('birth_year', 'year', 'NO', '', None, ''),
 ('birth_month', 'int', 'NO', '', None, ''),
 ('birth_day', 'int', 'NO', '', None, ''),
 ('guid', 'varchar(256)', 'NO', 'PRI', None, '')]

### Import data

In [75]:
import csv 
import uuid 

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./actor.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        r['guid'] = str(uuid.uuid4())
        new_rows.append(r)

In [77]:
new_rows[:];

In [78]:
insert_sql = """
    insert into movies_databases.movie_table(first_name,middle_name,last_name, gender, movie, birth_year, birth_month,birth_day,guid)
    values(%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [79]:
cur = conn.cursor()

In [80]:
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into movies_databases.movie_table(first_name,middle_name,last_name, gender, movie, birth_year, birth_month,birth_day,guid)
    values('Jamie','Lee','Curtis','female','The Fog, Prom Night, Terror Train, Roadgames, Halloween Ends ','1958','11','22','4d4d6ee9-e52e-4ef1-ba95-62d327548934')

OperationalError: (1054, "Unknown column 'first_name' in 'field list'")

In [48]:
%sql select * from movies_databases.movie_table;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]